@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
        <img src="~/images/LifeRescripted1Banner.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="text-center">
    <h1 class="display-4">On the works</h1>
</div>
